<ion-view title="Agendar " id="page6" style="background-color:#C73610;">
  <ion-content padding="true" class="has-header">
    <form id="agendar-form5" class="list">
      <label class="item item-input" id="agendar-input10">
        <span class="input-label">Dia</span>
        <input type="text" placeholder="" name="dia" ng-model="data.dia">
      </label>
      <label class="item item-input" id="agendar-input11">
        <span class="input-label">Hora</span>
        <input type="text" placeholder=""  name="hora" ng-model="data.hora">
      </label>
      <a class="button button-balanced button-block" ng-click="agendar(data)">Agendar</a>
    </form>
  </ion-content>
</ion-view>