<ion-view title="Detalhe entrevista" id="pageEntrevista" style="background-color:#C73610;">
    <ion-content padding="true" class="has-header">
        <div class="list card">

            <div class="item">
                <h2>Titulo</h2>
                <p>Data</p>
                <p>Empresa</p>
                <p>Email</p>
                <p>Local</p>
                <p>link</p>
            </div>

            <div class="item item-body">
                <p>
                    Descriçao
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>