<ion-view title="Lista de entrevistas" style="background-color:#C73610;">
  <ion-content padding="true" class="has-header">
    <ion-list id="listaDeInteresses-list4">
      <ion-item id="listaDeInteresses-list-item13" ui-sref="menu.detalhesEntrevista()">Item 1
        <ion-option-button class="button-assertive">
          Cancelar
        </ion-option-button>
      </ion-item>
      <ion-item id="listaDeInteresses-list-item14">Item 2
        <ion-option-button class="button-assertive">
          Cancelar
        </ion-option-button>
      </ion-item>
      <ion-item id="listaDeInteresses-list-item15">Item 3
        <ion-option-button class="button-assertive">
          Cancelar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>