<ion-view title="Lista de interesses" id="page2" style="background-color:#C73610;">
  <ion-content padding="true" class="has-header">

    <ion-list id="vagas-list2">

        <ion-item  ng-repeat="item in interesseVaga"  href="#/side-menu21/detalhesVaga/{{item.id}}">
          <h4>{{item.title}}</h4>
          <p>{{item.company_name}}</p>
          <ion-option-button class="button-balanced" ng-click="candidatura({{item.id}})">
            Candidatar
          </ion-option-button>
        </ion-item>

    </ion-list>

  </ion-content>
</ion-view>